/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
# Mengabaikan semua file dalam folder public/assets/koperasi/ktp
public/assets/koperasi/ktp_ketua/*
public/assets/koperasi/ktp_pengawas/*
public/assets/koperasi/akta_pendirian/*
public/assets/koperasi/akta_perubahan/*
public/assets/koperasi/logo/*
public/assets/koperasi/npwp/*
public/assets/koperasi/sertifikat_koperasi/*
public/assets/koperasi/siup/*
public/assets/koperasi/logo/*
public/assets/koperasi/logo/*
public/assets/koperasi/logo/*
public/assets/koperasi/sk_domisili/*
public/assets/koperasi/sk_kemenkumham/*
public/assets/koperasi/spkum/*
public/assets/anggota/selfie/*
public/assets/koperasi/ktp/*
